name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-dependencies:
    uses: ./.github/workflows/build-dependencies.yaml

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build-dependencies

    steps:
      - uses: actions/checkout@v2

      - name: Download bindings
        uses: actions/download-artifact@v3
        with:
          name: bindings
          path: rust-bindings

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: "7.0.x"

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore -p:MultiPlatformBuild=False

      - name: Test
        run: dotnet test --no-restore --verbosity normal
