name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-dependencies:
    uses: ./.github/workflows/build-dependencies.yaml

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    needs: build-dependencies
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13]

    steps:
      - uses: actions/checkout@v3

      - name: Download bindings
        uses: actions/download-artifact@v3
        with:
          name: bindings
          path: rust-bindings

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Setup Docker on macOS
        uses: douglascamata/setup-docker-macos-action@v1-alpha
        if: matrix.os == 'macos-13'

      - name: Test
        run: dotnet test --no-restore --verbosity normal
